{% extends "table_generic.html" %} 

{% block table_title %}
  Resultados da pesquisa
{% endblock %}

{% block table_search %}
  <form action="{% url 'search_family' %}" method="GET">
    {% csrf_token %}
    <input type="search" name="search_term" required placeholder="Pesquisar familia...">
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
{% endblock %}

{% block table_add_button %}
  <a id="add-button" class="py-2 px-3">
    <i class="fas fa-plus-square icon"></i>
    <b>Nova família</b>
  </a>
{% endblock %}

{% block table_head %}
  <th scope="col">ID</th>
  <th scope="col">Chefe da família</th>
  <th scope="col">Endereço</th>
  <th scope="col">Telefone principal</th>
{% endblock %}

{% block table_body %}
  {% if page %}
    {% for family in page %}
      <th scope="row">
        {{ family.id }}
      </th>
      <td>
        <a href="{% url 'family_details' family.pk %}">
          {{ family.chefe_da_familia }}
        </a>
      </td>
      <td>
        {{ family.endereco }}
      </td>
      <td>
        {{ family.telefone1 }}
      </td>
    {% endfor %}
    {% else %}
      <td colspan="4">Não existem famílias com o parâmetro de pesquisa</td>
  {% endif %}
{% endblock %}

{% block pagination %}
  <p>Página <b>{{ page.number }}</b> de <b>{{ page.paginator.num_pages }}</b></p>

  <div>
    {% if page.has_previous %}
      <a href="{% url 'search_family' %}?page={{ page.previous_page_number }}&search_term={{ search_term }}">
        <i class="fas fa-chevron-left"></i>
      </a>
    {% endif %}
      <p id="pagination">{{ page.number }}</p>
    {% if page.has_next %}
      <a href="{% url 'search_family' %}?page={{ page.next_page_number }}&search_term={{ search_term }}">
        <i class="fas fa-chevron-right"></i>
      </a>
    {% endif %}
  </div>
{% endblock %}